name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Julia environment
        uses: julia-actions/setup-julia@v2.6.1

      - name: Run lint
        run: julia --project=./final/utils --compiled-modules=no final/utils/lint.jl 