name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Julia environment
        uses: julia-actions/setup-julia@v2.6.1

      - name: Run tests
        run: julia --threads=auto --compiled-modules=no --project=. test/runtests.jl